
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Ubicación</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="cog"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
          <div id="map_canvas"></div>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar color="primary">
      <div class="tabs">
        <div class="tab" [ngClass]="{ 'active' : segment === 'asistencia' }" (click)="onTabSelected('asistencia')">
          <ion-icon name="finger-print"></ion-icon>
          <div class="label">Asistencia</div>
        </div>
        <div class="tab" [ngClass]="{ 'active' : segment === 'ubicacion' }" (click)="onTabSelected('ubicacion')">
          <ion-icon name="map"></ion-icon>
          <div class="label">Ubicación</div>
        </div>
        <div class="tab" [ngClass]="{ 'active' : segment === 'perfil' }" (click)="onTabSelected('perfil')">
          <ion-icon name="person"></ion-icon>
          <div class="label">Perfil</div>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>